* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #bababa;
}
/* icons : #919191 */

hr {
  border: 1px solid #f3f3f3;
}
.name-div > h6,
.user > .time {
  color: #bababa;
}
.name-div .typing {
  color: rgb(61, 218, 61);
}
img {
  width: 20px;
}

/* .user-img,
.email-icon,
.more-icon,
.search-icon,
.usr-img {
  width: 20px;
} */

body {
  height: 100vh;
  background: linear-gradient(
    to bottom,
    #009688 0%,
    #009688 20%,
    #d4dbd9 20%,
    #d4dbd9 100%
  );
  font-family: "Open Sans", sans-serif;
  font-family: "Montserrat", sans-serif;
}

.container {
  position: relative;
  left: 50%;
  top: 50%;
  background: lightpink;
  height: 95%;
  width: 90%;
  transform: translate(-50%, -50%);
  display: flex;
  /* overflow: hidden; */
}
.left {
  background: #f6f6f6;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.right {
  flex: 2;
  display: flex;
  flex-direction: column;
}
input {
  border: none;
  outline: none;
}

.left .top,
.right .top-profile-bar {
  padding: 30px 10px;
}

.left .top {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-right: 1px solid rgb(190, 188, 188);
  /* background: red; */
}

.user-img {
  min-width: 50px;
  height: 50px;
  border-radius: 50%;
}

.left .search {
  background: #fafafa;
  padding: 10px;
}
.left .search .input-search {
  width: 100%;
  height: 30px;
  padding: 0px 40px;
  border-radius: 10px;
}

.left .search .search-icon {
  position: absolute;
  left: 15px;
  top: 75px;
}

.left .chat {
  /* background: rgb(139, 139, 236); */

  overflow-y: scroll;
}
.left .chat .user {
  padding: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  height: 70px;
}

.left .chat .user1 {
  background: #ebebeb;
}

/* block */
.name-div {
  /* background: red; */
  flex: 4;
  padding: 0 10px;
}
.time {
  flex: 1;
}
.chat-img {
  flex: 0;
}

/* endblock */
.left .chat .user .usr-img-container .usr-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.right .top-profile-bar {
  height: 50px;
  background: #ededed;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* red and green below */
.right .top-profile-bar .profile-details {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* background: red; */
}
.right .top-profile-bar .profile-icons {
  /* background: green; */
}
/* red and green ends here */

.right .top-profile-bar .profile-details .profile-user {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.right .chat-details {
  background: #e5ddd5;
  flex: 1;
  padding: 15px;
  overflow-y: scroll;
}

.right .chat-input-right {
  height: 50px;
  background: #f0f0f0;
  display: flex;
  padding: 10px;
}
.right .chat-input-right .attach {
  margin-left: 10px;
}
.right .enter-msg {
  margin: 0px 10px;
  flex: 1;
  border-radius: 10px;
  padding: 0 10px;
}

.right .chat-details .msg-container {
  background: #dcf8c6;
  padding: 10px;
  display: table;
  max-width: 200px;
  border-radius: 10px;
  margin: 10px 0px;
}

.right .chat-details .sent-msg {
  margin-left: auto;
}
.right .chat-details .received-msg {
  margin-right: auto;
}

img:hover {
  cursor: pointer;
}

.left .chat .user:hover {
  cursor: pointer;
  background: #f0f0f0;
}

@media (max-width: 400px) {
  .container {
    display: none;
  }
  body::after {
    content: "Your device can't display this content due to the decreased display size";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
  }
}
